:root {
  --primary-text-color: #38404f;
  --secondary-color: #ff6612;
  --text-light-color: #62637c;
  --para-text-color: #4a5258;
  --grey-text: #aeb0b2;

}
body {
  font-family: "Poppins", sans-serif;
}

.opensans{
    font-family: "Open Sans", sans-serif;
}
.primary_color {
  color: var(--primary-text-color) !important;
}
.grey_text {
  color: var(--grey-text) !important;
}
.scale1 {
  transform: scale(1);
  transition: all 0.5s ease-in-out ;
}
.scale1:hover {
  transform: scale(1.1);
}
.para-text-color{
  color: var(--para-text-color) !important;
}
.secondary_color {
  color: var(--secondary-color) !important;
}
.breadcrumb .breadcrumb-item.active {
  color: var(--secondary-color) !important;
}

.text-justify{
  text-align: justify;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}
.fit-content{
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .fs-5 {
    font-size: 14px !important;
  }
  
}


.bg_grey {
  background: #f8f8fc;
}

.sec_padd {
  padding: 70px 0px 80px;
}
@media screen and (max-width: 992px) {
  .sec_padd {
    padding: 40px 0px 30px;
  }
}
@media screen and (max-width: 768px) {
  .sec_padd {
    padding: 30px 0px 50px;
  }
}

.common-hover:hover {
  color: var(--secondary-color) !important;
  transition: all 0.3s ease-in-out;
}

.fs_20 {
  font-size: 20px;
  line-height: 24px;
}
.fs_24 {
  font-size: 24px;
  line-height: 27px;
}
@media screen and (max-width: 991px) {
  .fs_24 {
    font-size: 18px;
  }
}
/* heading_secondry */

.heading_secondry {
  font-size: 22px;
}
.heading_secondry::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40px;
  height: 2px;
  background: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .heading_secondry {
    font-size: 42px;
  }
  .heading_secondry::after {
    bottom: -20px;
  }
  
}
/* heading_secondry */
.flt-br8 {
  filter: brightness(0.8);
}
.text-shadow15 {
  text-shadow: 0 0 15px #383737;
}
.bg_lightpink {
  background: #fef9f4;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}
p {
  color: var(--primary-text-color);
  font-size: 16px;
}
.padding_top {
  padding-top: 67px;
}

.fw-bolder {
  font-weight: 900 !important;
}

header.header-main {
  padding: 24px 30px 0 140px;
  height: 67px;
  position: inherit;
  z-index: 999;
  border-bottom: 1px solid #e7e7e7;
}
header.header-main .navbar-toggler {
  background-color: var(--secondary-color);
  height: 50px;
  width: 65px;
}
@media screen and (max-width: 991px) {
  p {
    font-size: 14px;
  }
  header.header-main {
    height: 50px;

    padding: 0px 0px 30px 140px;
  }
  .padding_top {
    padding-top: 50px;
  }

  header.header-main .logo img {
    width: 50px;
  }
}
header.header-main .logo {
  left: 25px;
  top: 5px;
  z-index: 99;
}
header.header-main .navigation .dropdown ul li {
  padding: 0 0 10px;
}
header.header-main .navigation .dropdown ul li a {
  line-height: 30px;
  font-size: 14px;
  color: var(--text-light-color);
  background: none;
}

header.header-main .navigation ul li {
  padding: 0 10px 34px;
}
header.header-main .navigation ul li a {
  color: var(--primary-text-color);
  font-size: 15px;
  padding-right: 13px;
  background: url("../images/dropdown-arrow.svg") no-repeat 100% 7px;
}
header.header-main .navigation ul li h2 {
  padding-bottom: 25px;
  font-size: 15px;
  color: var(--primary-text-color);
}
header.header-main .navigation ul li.dropdown {
  position: inherit;
}
header.header-main .navigation ul li.dropdown a:hover {
  color: var(--secondary-color);
}
header.header-main .navigation ul li.dropdown:hover ul.drop-menu {
  display: block;
  box-shadow: 0 5px 12px rgba(56, 64, 79, 0.2);
}
header.header-main .navigation ul li.dropdown ul.drop-menu {
  display: none;
  width: 100%;
  position: absolute;
  padding: 46px 15px;
  left: 0;
  top: 67px;
  background-color: #fff;
  z-index: 9;
}
header.header-main
  .navigation
  ul
  li.dropdown
  ul.drop-menu
  .drop-menu-submenu1
  ul
  li
  ul
  li
  a:hover {
  color: var(--secondary-color);
}
header.header-main .nav-right ul li a {
  font-size: 15px;
  color: var(--primary-text-color);
}

header button.navbar-toggler .line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

header button.navbar-toggler .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

header button.navbar-toggler .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

header button.navbar-toggler .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

header button.navbar-toggler[aria-expanded="true"] .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

header button.navbar-toggler[aria-expanded="true"] .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

header button.navbar-toggler[aria-expanded="true"] .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

header button.navbar-toggler:focus {
  outline: none !important;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
}

.sticky-box {
  box-shadow: 1px 1px 5px 5px rgba(105, 105, 105, 0.1);
  padding: 12px 0;
  z-index: 999999;
  transition: all 0.2s;
}
.sticky-box ul {
  padding: 0px;
  transition: all 0.5s;
  max-width: 130rem;
}
.sticky-box ul li {
  transition: all 0.5s;
  padding: 0 65px;
}
.sticky-box ul li h3 {
  font-size: 13px;
  color: var(--text-light-color);
}
.sticky-box ul li span {
  color: var(--text-light-color);
  font-size: 13px;
  transition: all 0.5s;
  margin-top: 0.3em;
  letter-spacing: 0.2px;
}
.sticky-box ul li img {
  height: 30px;
}
.sticky-box ul li.enquire {
  top: -29px;
  right: 0px;
  z-index: 999;
}
.sticky-box ul li.enquire img {
  margin-right: 8px;
  transition: all 0.5s;
  opacity: 1;
  height: auto;
  position: relative;
  top: 0;
}
.sticky-box ul li.enquire a span.loc {
  margin-top: 5px;
  text-transform: capitalize;
  display: inline-block;
  background: var(--secondary-color);
  width: auto;
  padding: 9px 20px 11px 15px;
  border-radius: 50px;
  font-size: 15px;
}
.sticky-box ul li.enquire a.cont {
  font-size: 14px;
  line-height: 17px;
  margin-right: 4px;
  border: 1px solid var(--secondary-color);
  width: auto;
  padding: 9px 15px;
  border-radius: 50px;
  color: var(--primary-text-color);
}
@media only screen and (max-width: 1366px) {
  .sticky-box ul {
    overflow: auto;
    white-space: nowrap;
  }
  .sticky-box ul li {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 992px) {
  .sticky-box ul li.enquire {
    top: -47px;
  }
}
@media only screen and (max-width: 768px) {
  .sticky-box ul li {
    padding: 0 8px;
  }
  .sticky-box ul li:last-child {
    padding: 0;
  }

  .sticky-box ul li.enquire a span.loc {
    border-radius: 0;
  }
  .sticky-box ul li.enquire {
    width: 100%;
    top: -96px;
  }
  .sticky-box ul li.enquire img {
    margin-right: 0;
  }
  .sticky-box ul li.enquire a.cont {
    padding: 0;
    right: 50px;
    height: 50px;
    width: 50px;
    margin-left: auto;
  }
}
@media only screen and (max-width: 600px) {
  .sticky-box ul {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 380px) {
  .sticky-box ul {
    padding-left: 60px;
  }
}

.main-heading a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: var(--secondary-color);
  padding: 14px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  position: relative;
}
.br_5 {
  border-radius: 5px;
}

.main-heading a.dark_link {
  width: fit-content;
  border: 0;
  padding: 0;
  font-size: 20px;
  line-height: 47px;
  font-weight: 700;
  color: #2c2d67;
}
.main-heading h2 {
  font-size: 46px;
  line-height: 1.2;
  font-weight: 700;
  color: #192024;
}
.main-heading a.dark_link i {
  color: #fe402a;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
  padding-left: 4px;
}
@media screen and (max-width: 992px) {
  .main-heading h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 700px) {
  .main-heading a {
    padding: 8px 16px;
  }
  .main-heading h2 {
    font-size: 24px;
  }
  .main-heading a.dark_link i,
  .main-heading a.dark_link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1366px) {
  .main-heading h2 {
    font-size: 52px;
    line-height: 62px;
  }
}
.readbtn {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 14px 20px;
  color: var(--secondary-color);
  display: block;
  position: relative;
  font-size: 16px !important;
  width: fit-content;
  z-index: 50;
}
.readbtn::after {
  z-index: -1;
  content: "";
  border-radius: 10px;
  position: absolute;
  inset: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary-color);
  transition: all 0.5s;
}
.readbtn:hover::after {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .readbtn {
    font-size: 14px !important;
    padding: 8px 20px;
    color: #fff !important;
  }
  .readbtn::after {
    width: 100%;
  }
}
.readbtn:hover {
  color: #fff;
}

.offcanvas-body {
  padding: 0;
}
.offcanvas-body .accordion-item {
  border-bottom: 1px solid #3a444e;
  border-radius: 0px !important;
  border-width: 0 0 1px 0 !important;
  background: #2c3549;
}
.offcanvas-body .accordion-item .accordion-body {
  border-radius: 10px !important;
  background: #2c3549;
}
.offcanvas-body .accordion-item .accordion-body .accordion-item {
  border-width: 0 0 0px 0 !important;
}
.offcanvas-body
  .accordion-item
  .accordion-body
  .accordion-item
  .accordion-body {
  padding: 0;
}
.offcanvas-body
  .accordion-item
  .accordion-body
  .accordion-item
  .accordion-body
  ul
  li {
  border-bottom: 1px solid #586b7e;
  background: #434b5d !important;
  padding: 8px 24px 8px 38px;
}
.offcanvas-body
  .accordion-item
  .accordion-body
  .accordion-item
  .accordion-body
  ul
  li
  a {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.offcanvas-body
  .accordion-item
  .accordion-body
  .accordion-item
  .accordion-button {
  font-weight: 500;
  background: #3b455b;
  padding: 10px 28px;
  border-radius: 0px !important;
}
.offcanvas-body
  .accordion-item
  .accordion-body
  .accordion-item
  .accordion-button.collapsed {
  border-radius: 0px !important;
}
.offcanvas-body .accordion-item .accordion-button {
  font-size: 15px;
  background: #2c3549;
  color: #fff;
  box-shadow: none;
  font-weight: 600;
  border-radius: 0px !important;
  padding: 20px;
}
.offcanvas-body .accordion-item .accordion-button.collapsed {
  border-radius: 0px !important;
}
.offcanvas-body .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("../images/minus-solid.svg ");
}
.offcanvas-body .accordion-item .accordion-button::after {
  background-image: url("../images/plus-solid.svg");
}

/* pagecss */

footer {
  background: #2e343d;
  padding-bottom: 100px;
  margin-top: 110px;
}

.footer_top_contnt_inner_top {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 50px;
}
.footer_top_contnt {
  top: -154px;
  left: 0;
  background: #fff;
  padding: 50px 80px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(145, 143, 155, 0.1);
  width: 100%;
}

.footer_top_contnt p {
  font-size: 15px;
  line-height: 22px;
  color: var(--text-light-color);
  display: inline-block;
  padding-left: 20px;
}

.footer_top_contnt_right a {
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  background: var(--secondary-color);
  padding: 14px 55px;
  border-radius: 60px;
  border: 1px solid var(--secondary-color);
}

.footer_top_contnt_inner_bottom h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: var(--primary-text-color);
  text-transform: uppercase;
}
.footer_top_contnt_inner_bottom {
  padding-top: 40px;
}
.footer_top_contnt_inner_bottom ul li a {
  font-size: 13px;
  line-height: 20px;
  color: var(--text-light-color);
}
.footer_partners {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 354px 0 48px;
  border-bottom: 0.5px solid rgba(196, 196, 196, 0.2);
}
.footer-info {
  padding: 25px 0 44px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.2);
}
.footer-info li {
  display: inline-block;
  font-size: 13px;
  line-height: 32px;
  color: #ffffff;
  padding: 0 20px;
}
.footer-info li i {
  font-size: 18px;
  padding-right: 18px;
}
footer .social-icons {
  bottom: -42px;
}
footer .social-icons a {
  display: block;
  color: #fff;
  border: 1px solid var(--secondary-color);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 100px;
  margin: 0 5px;
  background: #2e343d;
}

.footer_bottom {
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .footer_top_contnt {
    max-width: 90%;
    right: 0;
    margin: 0 auto;
  }
  .footer_top_contnt {
    padding: 50px 10px 10px;
  }
  .footer_top_contnt_right a {
    font-size: 13px;
    padding: 8px 16px;
  }
}

.swiperbtn_wraper {
  position: absolute;
  width: 100%;
  bottom: 30px;
}

.comman_slider .swiper-button-next {
  right: calc(50% - 80px);
}
.comman_slider .swiper-button-prev {
  left: calc(50% - 80px);
}
.swiperbtn_wraper .swiper-button-next,
.swiperbtn_wraper .swiper-button-prev {
  position: absolute;
  bottom: -80px;
  background-color: #fff;
  color: var(--secondary-color);
  border: 1px solid #d9d9e8;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.swiperbtn_wraper .swiper-button-next:hover,
.swiperbtn_wraper .swiper-button-prev:hover {
  background-color: var(--secondary-color);
  color: #fff;
  border: 1px solid transparent;
  opacity: 1;
}

.galleySliderbg .swiperbtn_wraper .swiper-button-prev {
  left: 42%;
}
.galleySliderbg .swiperbtn_wraper .swiper-button-next {
  right: 6%;
}
.galleySliderbg .swiperbtn_wraper {
  bottom: 156px;
}
@media screen and (max-width: 1300px) {
  .galleySliderbg .swiperbtn_wraper .swiper-button-prev {
    left: 38%;
  }
}

.swiperbtn_wraper .swiper-button-prev:after,
.swiperbtn_wraper .swiper-button-next:after {
  content: "none";
}
@media screen and (max-width: 991px) {
  .swiperbtn_wraper {
    position: absolute;
    width: 100%;
    bottom: 30px;
  }
}

.custom_tabsfilled a.nav-link {
  white-space: nowrap;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.custom_tabsfilled .nav-link {
  font-size: 14px;
  line-height: 26px;
  color: var(--primary-text-color);
  padding: 8px 30px;
  border-radius: 60px !important;
  border: 1px solid #d9d9e8;
  font-weight: 500;
  white-space: nowrap;
}

.custom_tabsfilled .nav-link.active {
  background: var(--secondary-color);
  color: #fff;
  font-weight: 500;
  border: 1px solid var(--secondary-color);
}
.custom_tabs {
  margin-bottom: 40px;
}
.custom_tabs button.active {
  font-weight: 600;
  background-color: transparent;
}
.custom_tabs button.active::after {
  content: "";
  position: absolute;
  background: var(--secondary-color);
  width: 90px;
  height: 3px;
  bottom: 0;
  left: 0;
}
.custom_tabs button {
  min-width: 120px;
  position: relative;
  border: none !important;
  border-radius: 0;
  white-space: nowrap;
  padding: 5px 0px 30px 0;
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-text-color) !important;
}

@media screen and (max-width: 767px) {
  .custom_tabs button {
    padding: 5px 10px 12px 0;
    font-size: 14px;
  }
}
.side_tabs .nav-item .nav-link.active {
  font-size: 24px !important;
  font-weight: 700 !important;
}
.side_tabs .nav-item .nav-link span {
  font-size: 12px;
  line-height: 45px;
}
.side_tabs .nav-item .nav-link {
  background: none;
  border-bottom: 1px solid #d9d9e8;
  border-width: 0px 0px 1px 0px;
  background: none;
  width: 100%;
  color: var(--primary-text-color) !important;
  background-color: transparent !important;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  padding-left: 0;
  padding-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .side_tabs .nav-item .nav-link span {
    font-size: 12px;
  }
  .side_tabs .nav-item .nav-link {
    line-height: 20px;
    font-size: 16px;
    text-align: center;
  }
  .side_tabs .nav-item .nav-link.active {
    font-size: 20px !important;
  }
}
.float-content-wraper {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 5px;
}
.float-content-wraper img {
  width: 100%;
}
.with-arrow .float-content-wraper .content-wraper a {
  margin-left: 19px;
}
.with-arrow .float-content-wraper .content-wraper {
  left: 0px;
  bottom: 16px;
}
.content-wraper-icon {
  position: absolute;
  bottom: 4px;
  right: 20px;
}
.float-content-wraper .content-wraper {
  position: absolute;
  bottom: 8px;
  left: 12px;
  width: 100%;
}
.float-content-wraper .content-wraper a {
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 0 0 8px #383737;
}
.float-content-wraper .content-wraper a span {
  margin-top: 8px;
  display: block;
  font-size: 12px;
  color: #fff;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.season-visit .float-content-wraper .content-wraper a {
  font-size: 20px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .season-visit .float-content-wraper .content-wraper a {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .float-content-wraper .content-wraper {
    left: 5px;
  }
  .float-content-wraper .content-wraper a {
    font-size: 15px;
    line-height: 16px;
  }
  .float-content-wraper .content-wraper a span {
    margin-top: 0px;
    font-size: 12px;
    line-height: 12px;
  }
}
.readmore_btn {
  line-height: 30px;
  color: var(--primary-text-color);

  background: none;
  border: none;
}

.readmore_btn i {
  color: #fe402a;

  font-size: 16px;
}

.search .search-content li a {
  color: var(--secondary-color);
  padding: 10px 20px;
  border: 1px solid #d9d9e8;
  border-radius: 60px;
  display: inline-block;
  white-space: nowrap;
}

.accordion-button:not(.collapsed) {
  background: none;
}
.accordion-button:focus {
  box-shadow: none;
}

/* faq section */
.faq {
  padding: 70px 0px;
}

.faq .faq-content h5 {
  font-size: 24px;
  line-height: 34px;
  color: var(--primary-text-color);
  padding-bottom: 20px;
}
.faq .faq-content a {
  padding: 16px 64px;
  border-radius: 60px;
  display: inline-block;
  background-color: var(--secondary-color);
  color: #fff;
  border: 1px solid transparent;
}
.faq .faq-content a:hover {
  color: var(--secondary-color);
  background: #fff;
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--secondary-color);
}

.common_acc .accordion .accordion-item:first-child {
  border-top: 1px solid #d9d9e8;
}
.common_acc .accordion .accordion-item {
  padding: 15px 0 20px;
  border-width: 1px 0 1px 0;
  background-color: transparent;
}
.common_acc .accordion .accordion-item .accordion-body a {
  color: var(--secondary-color);
}
.common_acc .accordion .accordion-item .accordion-body {
  font-size: 16px;
  line-height: 26px;
  color: var(--primary-text-color);
  padding: 20px 0;
}
.common_acc .accordion-item .accordion-button {
  background-color: transparent;
  font-size: 20px;
  border-radius: 0 !important;
  line-height: 30px;
  color: var(--primary-text-color);
  font-weight: 700;
  padding-left: 0;
  gap: 12px;
}
.accordion-item:first-of-type {
  border-radius: 0 !important;
}
@media screen and (max-width: 767px) {
  .faq .faq-content a {
    padding: 10px 40px;
  }

  .faq .faq-content h5 {
    font-size: 18px;
  }
  .common_acc .accordion .accordion-item {
    padding: 1px 0 0px;
  }
  .common_acc .accordion-item .accordion-button {
    background-color: transparent;
    font-size: 18px;
    line-height: normal;
  }
}

.orang_arrow .accordion-button::after {
  background-image: url("../images/orange-arrow.png");
}
.orang_arrow .accordion-button:not(.collapsed)::after {
  background-image: url("../images/orange-arrowup.png");
}
.faq .accordion-button::after {
  background-image: url("../images/faqarrowdown.png");
}
.faq .accordion-button:not(.collapsed)::after {
  background-image: url("../images/faqarrowup.png");
}

.faq .accordion-flush > .accordion-item:last-child {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 30px;
}
/* faq section */

.banner-content h1 {
  color: var(--primary-text-color);
  font-size: 75px;
  line-height: 85px;
  font-weight: 300;
}
.banner-content h1 strong {
  color: var(--secondary-color);
  font-weight: 700;
}

.plan-holiday .plans strong {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.tab-content > .active .state .state-page {
  padding: 55px 0px;
}
.tab-content > .active .state p {
  line-height: 25px;
  padding: 20px 0px;
}
.tab-content > .active .state img {
  border-radius: 10px;
}

/* pagecss end */
/* widllife css */

/* search_banner_content */
.search_banner_content .input-group-text {
  background-color: #fff;
  border-radius: 40px;
  border: none;
  padding: 12px 20px;
}
.search_banner_content input:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
.search_banner_content input {
  border: none;
  border-radius: 0;
  border-radius: 40px;
  box-shadow: none;
}
.search_banner_content .input-group {
  min-height: 60px;
  min-width: 500px;
}
@media (max-width: 991px) {
  .search_banner_content_wraper img {
    min-height: 40vh;
  }
  .search_banner_content {
    width: 100%;
  }
  .search_banner_content .input-group {
    min-width: 100%;
  }
  .search_banner_content .input-group {
    min-height: 50px;
  }
  .search_banner_content .input-group-text {
    padding: 0;
  }
}
.topbtn_slider {
  padding: 135px 0px 0px;
  margin-top: -66px;
}
@media screen and (max-width: 1200px) {
  .topbtn_slider {
    padding: 100px 0px 0px;
  }
}

.topbtn_slider .swiper-button-prev:hover,
.topbtn_slider .swiper-button-next:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
.topbtn_slider .swiper-button-prev,
.topbtn_slider .swiper-button-next {
  position: absolute;
  top: 7%;
  width: 50px;
  height: 50px;
  line-height: 1.2;
  border: 1px solid #d8d4d4;
  border-radius: 100px;
  text-align: center;
  color: var(--secondary-color);
}

.topbtn_slider .swiper-button-prev {
  left: auto;
  right: 90px;
}
.topbtn_slider .swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

/* homepage-search */
.homepage-search .form-select {
  background-image: url("../images/downwhitearrow.svg");
  color: #fff;
  padding: 16px 30px;
  border-radius: 50px 0px 0px 50px;
  background-color: var(--secondary-color);
  max-width: 200px;
}

.homepage-search .form-select option {
  color: #000;
  background: #fff; /* Or keep orange if you want */
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: -webkit-box;
}
.homepage-search .search_btn {
  padding-right: 18px;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.2);
}
.homepage-search {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 50px;
  /* padding: 8px 12px; */
}

@media screen and (max-width: 767px) {
  .topbtn_slider .swiper-button-prev,
  .topbtn_slider .swiper-button-next {
    position: absolute;
    top: 10%;
  }
  .homepage-search .form-select {
    max-width: 120px;
  }
  .homepage-search .form-select {
    padding: 10px 20px;
    font-size: 14px;
  }
  .homepage-search .search_btn {
    padding: 0 10px 0 0px;
    font-size: 20px;
  }
}
@media screen and (max-width: 580px) {
  .homepage-search .form-select {
    padding: 8px 8px;
  }
}

.innerpagesearch_sec .homepage-search {
  /* box-shadow: none; */
  border: 2px solid #fff;
}

.innerpagesearch_sec {
  display: none;
  padding: 14px 0 14px;
  position: fixed;
  top: 50px;
  z-index: 9;
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 992px) {
  .innerpagesearch_sec {
    top: 67px;
  }
}
/* homepage-search end */

/* search_banner_content */



/* destination page */
.hero_destination .inner-banner-right {
  z-index: -1;
}
.hero_destination .inner-banner-right::after {
  content: " ";
  position: absolute;
  display: block;
  width: 15%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background: #fff;
  transform-origin: bottom left;
  transform: skew(-9deg, 0);
}
@media screen and (max-width: 768px) {
  .hero_destination .inner-banner-right::after {
    display: none;
  }
}
.hero_destination .inner-right-detail h2 {
  font-size: 45px;
}
@media screen and (max-width: 1300px) {
  .hero_destination .inner-right-detail h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 992px) {
  .hero_destination .inner-right-detail h2 {
    font-size: 27px;
  }
}
@media screen and (max-width: 677px) {
  .hero_destination .inner-right-detail h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 552px) {
  .hero_destination .inner-right-detail P {
    font-size: 15px;
  }
}

.hero_destination .inner-banner-right img {
  width: 100%;
}
.hero_destination .hero_content .breadcrumb {
  font-size: 12px;
}

.hero_destination .hero_content .breadcrumb-item.active {
  color: #ff6612;
}
.hero_destination .right-detail-box::after {
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(98, 99, 124, 0.1);
  border-radius: 15px;
  transform: skew(-6deg);
  z-index: -1;
}

.hero_destination .right-detail-box {
  min-width: 296px;
  border-radius: 15px;
  margin: 4px 15px;
  padding: 50px 26px;
  position: relative;
}
.hero_destination .right-detail-box img {
  position: absolute;
  top: 24px;
  right: 24px;
}
.hero_destination .right-detail-box h4 {
  font-size: 14px;
}
.hero_destination .right-detail-box p {
  font-size: 15px;
}
/* destination page  end*/

/* trending holiday section */
.trending_holiday span {
  font-size: 12px;
  line-height: 14px;
  color: #9d9fa5;
}

@media screen and (max-width:767px) {
  .trending_holiday h5{
    font-size: 15px;
  }
  
}
.trending_holiday .holidays_package_btn {
  border: 1px solid #fff;
  padding: 4px 10px;
  font-size: 11px;
  opacity: 0;
}

.holidays_package_wraper:hover .holidays_package_btn {
  opacity: 1;
}
.holidays_package_wraper .holidays_package_btn:hover {
  background-color: #ff6612;
  border: none;

}
.trending_holiday .holidays_package:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 400ms linear;
}

/* trending holiday section end*/

/* best visit section */

.best_visit p {
  font-size: 14px;
}

/* best visit section end */
