.destinaton_herosec h1 {
  font-size: 64px;
}
@media screen and (max-width: 991px) {
  .destinaton_herosec h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 340px) {
  .destinaton_herosec h1 {
    font-size: 20px;
  }
}
.destinaton_herosec .home-page {
  padding-left: 20px;
  margin-left: 13%;
}
@media screen and (max-width: 768px) {
  .destinaton_herosec .home-page {
    margin-left: 0;
  }
}
.destinaton_herosec_img {
  min-height: 60vh;
}
.destinaton_herosec .home-page_wraper {
  width: 100%;
  top: 58% !important;
}

@media screen and (max-width: 540px) {
  .destinaton_herosec .home-page_wraper {
    width: 100%;
    top: 60% !important;
  }
}
.destinaton_herosec input:focus {
  box-shadow: none;
}
.destinaton_herosec .input-group {
  width: 71%;
  margin-right: 16%;
}
@media screen and (max-width: 1191px) {
  .destinaton_herosec .input-group {
    width: 100%;
    margin-right: 16%;
  }
}
@media screen and (max-width: 540px) {
  .destinaton_herosec .searchbanner_info {
    flex-wrap: wrap;
    margin-left: 14%;
  }
}
.destinaton_herosec .searchbanner_info {
  margin-left: 14%;
}
@media screen and (max-width: 1191px) {
  .destinaton_herosec .searchbanner_info {
    margin-left: 0;
  }
}
.banner-btm-link .packages_list .nav-link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 16px;
  color: #192024;
}
.banner-btm-link .packages_list .readbtn {
  border-radius: 0px;
  padding: 7px 10px;
}
.banner-btm-link .packages_list .readbtn::after {
  border-radius: 0px;
}
.overview_bhutan_destination .bhutan_content {
  font-size: 15px;
  color: #54545a;
  margin-top: 18px;
}
.overview_bhutan_destination .overview_bhutan_right {
  padding: 40px 40px;
}
